.footer {
    background: radial-gradient( rgb(9, 47, 81),rgb(24, 68, 107));
    color: white;
    text-align: center;
    padding: 8px 0;
    font-size: 24px;
    border-radius: 10px;
    margin: 50px 30px 20px 50px;
    
}

.footer-container {
    max-width: 100%; /* Match the table width */
    margin: auto;
}

.column-title {
    font-weight: bold;
    margin-bottom: 10px; 
}
.address {
    font-size: 14px;
}
iframe {
    border: 0;
    width: 100%;
    height: 200px;
}
a {
    color: black;
    text-decoration: none; /* Removes underline */
}

a:hover {
    text-decoration: underline; /* Adds underline on hover for better UX */
}
